---
import Button from '../components/Button.astro';
import Mobilbutton from '../components/Mobilbutton.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import facebook from "../assets/images/facebook.svg";
import insta from "../assets/images/insta.svg";
import x from "../assets/images/x.svg";
import linkedin from "../assets/images/linkedin.svg";
import youtube from "../assets/images/youtube.svg";
---
    <article class="">
		  
        <section class="flex justify-center  bg-beige-one"> <!-- Centrering af hele grid'et -->

			
            <div class="grid grid-cols-1 md:flex md:items-start justify-center max-w-4xl w-full p-4 md:gap-20 mt-24"> <!-- Justering af startposition -->

                <!-- Første kolonne -->
                <div class="flex flex-col items-start w-full md:w-1/2 mb-8 md:mb-0">
                  <p class="parallaxgrafik1 mb-2 md:text-4xl text-xl font-bold pt-18 text-almost-black">Følg vores arbejde</p> <!-- Flyttet h2 her -->
            
                    <section class=" md:text-left w-full"> 
                        <div class="justify-start leading-relaxed font-thin mt-2">
                            <p>På de sociale medier opdaterer vi løbende om vores indsats. Følg os og spred budskabet om #singleusesucks</p>
                        </div>
                    </section>                
                </div>

                <!-- Anden kolonne -->
                <div class="grid grid-cols-5 justify-center gap-4 md:justify-end lg:justify-end md:mt-24">
               
 <div class="transition-transform duration-300 hover:scale-110">
    <a href="https://www.facebook.com/plasticchange/" target="_blank">
      <Image class="w-16 h-auto lg:w-20" src={facebook} alt="facebook"/>
    </a>
 </div>

  <div class="transition-transform duration-300 hover:scale-110">
    <a href="https://www.instagram.com/plasticchange" target="_blank">
      <Image class="w-16 h-auto lg:w-20" src={insta} alt="instagram"/>
    </a>
  </div>

  <div class="transition-transform duration-300 hover:scale-110">
    <a href="https://x.com/plasticchange" target="_blank">
      <Image class="w-16 h-auto lg:w-20" src={x} alt="x"/>
    </a>
  </div>

  <div class="transition-transform duration-300 hover:scale-110">
    <a href="https://www.linkedin.com/company/plastic-change/" target="_blank">
      <Image class="w-16 h-auto lg:w-20" src={linkedin} alt="linkedin"/>
    </a>
  </div>

  <div class="transition-transform duration-300 hover:scale-110">
    <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g" target="_blank">
      <Image class="w-16.1 h-auto lg:w-40" src={youtube} alt="youtube"/>
    </a>
  </div>


<p class="">#singleusesucks</p>
           
     

              
                  
                    <!-- <Image class="w-16 h-auto lg:w-20" src={x} alt="x"/>
                    <Image class="w-16 h-auto lg:w-20" src={linkedin} alt="linkedin"/>
                    <Image class="w-16.1 h-auto lg:w-40" src={youtube} alt="youtube"/> -->
            
                </div>

            </div>

        </section>
      
    </article>
